[gcode_macro _MY_CANCEL_EXTENSIONS]
gcode:
    # Kill heatsoak delayed gcode loops
    UPDATE_DELAYED_GCODE ID=_heat_soaker DURATION=0
    STOP_HEAT_SOAK
    
    # Custom fan/LED or safety logic
    STATUS_OFF